<div>
    <span matBadge="5">Baisc badge</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below before">Baisc badge</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below after">Baisc badge</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="above before">Baisc badge</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="small">Baisc badge</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="large">Baisc badge</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="medium">Baisc badge</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="primary">Baisc badge</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="accent">Baisc badge</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Baisc badge</span>
</div>
<div>
    <span [matBadge]="notify" [matBadgeHidden]="notify === 0">Baisc badge</span>
</div>