<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular fdata
        </mat-panel-title>
        <mat-panel-description>
            Total durtaion : 3hurs
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Some data here open pannel</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

<mat-accordion multi="true" hideToggle="false">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular fdata
            </mat-panel-title>
            <mat-panel-description>
                Total durtaion : 3hurs
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Some data here open pannel</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular fdata
            </mat-panel-title>
            <mat-panel-description>
                Total durtaion : 3hurs
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Some data here open pannel</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
