<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
<button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
<button mat-menu-item>BackEnd</button>
</mat-menu>
<button mat-flat-button [matMenuTriggerFor]="appMenu">MenuButton</button>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
</mat-menu>

<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Logout {{hobby}}</button>
        <button mat-menu-item>Name {{name}}</button>
    </ng-template>
</mat-menu>

<button mat-raised-button [matMenuTriggerData]="{name:'saleem',hobby:'Teaching'}" [matMenuTriggerFor]="lazyMenu">
    Lazytrigger</button>