<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<p>---------------------------------------------------------------------------------------------------------------</p>
<h1>Basic Buttons</h1>
<app-material-button></app-material-button>

<p>---------------------------------------------------------------------------------------------------------------</p>
<h1>Basic Typography</h1>
<app-typography></app-typography>

<h1>Badge</h1>

<app-badge></app-badge>

<h1>Spinner</h1>

<app-spinner></app-spinner>

<h1>Toolbar</h1>
<app-toolbar></app-toolbar>
<h1>SideNav</h1>
<app-sidenav></app-sidenav>

<h1>Menu</h1>
<app-menu></app-menu>

<h1>List</h1>
<app-list></app-list>

<h1>Grid</h1>
<app-grid></app-grid>

<h1>Accordions</h1>
<app-expansions-r-accordions></app-expansions-r-accordions>

<h1>Cards</h1>
<app-card></app-card>

<div style="padding-bottom: 15px;"></div> -->
<div class="p-3">
<app-table></app-table>
</div>

<div class="p-3">
    <app-dialog></app-dialog>
 </div>